@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .break-word {
    word-break: break-word;
  }
  .keep-word {
    word-break: keep-all;
  }
}

/* root element cannot be given attributes like className */
#__next {
  height: 100%;
}

:root {
  font-size: 16px;
}
